<div class="main-wrapper" [class.is-mobile]="isMobile()">
    <!-- <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="isMobile() ? 56 : 0"> -->
    @if(isMobile()){
    <div class="logo-mobile flex justify-between px-4 py-3 bg-[var(--primary)] w-100">
        <img class="h-[44px]" src="img/logo-white.svg" alt="">
        <div class="flex gap-4 custom-dropdown-mobile">
            <button class="!w-[24px] !h-[24px]" matIconButton>
                <img class="min-w-[24px] min-h-[24px]" src="/img/icon/notification.svg" alt="">
            </button>
            <button class="!w-[24px] !h-[24px] " matIconButton>
                <img class="min-w-[24px] min-h-[24px]" src="/img/icon/user.svg" alt="">
            </button>
            <button matIconButton (click)="snav.toggle(); ">
                <img class="hamburger h-[44px]" src="img/icon/hamburger.svg" alt="">
            </button>
        </div>
    </div>
    }
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #snav [mode]="isMobile() ? 'over' : 'side'" [fixedInViewport]="isMobile()" fixedTopGap="10"
            fixedBottomGap="10" (closedStart)="accordion.closeAll()">
            <aside class="sidebar flex flex-col justify-between h-full pb-5">
                <div class="sidebar-inner">

                    <div class="logo flex justify-between flex-col lg:flex-row w-100">
                        @if (!snav.opened) {
                        <img class="h-[44px]" src="img/logo.svg" alt="Logo">
                        <button mat-icon-button (click)="snav.open()">
                            <img class="h-[44px]" src="img/icon/hamburger.svg" alt="Menu">
                        </button>
                        } @else {
                        @if (isMobile()) {
                        <img class="h-[44px]" src="img/logo.svg" alt="Logo">
                        } @else {
                        <img class="h-[44px] min-w-[44px]" src="img/logo-icon.svg" alt="Logo Icon">
                        }
                        }

                    </div>
                    <mat-nav-list>
                        <a class="font-medium text-[#474747] mb-[8px]" mat-list-item [routerLink]="'/dashboard'"
                            routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="accordion.closeAll();snav.close()">
                            <img title="Dashboard" src=" /img/icon/dashboard.svg" alt="icon" />
                            <span>Dashboard</span>
                        </a>
                        <mat-accordion class="flex flex-col gap-[8px]" #accordion="matAccordion"
                            MatAccordionDisplayMode='flat'>

                            <mat-expansion-panel [expanded]="activePage==='admin-user'" hideToggle [class.active-link]="
                    activePage==='admin-user'" (opened)="onPanelOpened('admin-user')"
                                class="!rounded-none !shadow-none !bg-transparent text-[16px] font-medium text-[#474747]">
                                <mat-expansion-panel-header class="!px-4">
                                    <mat-panel-title class="flex gap-4">
                                        <img title="Admin User" src="/img/icon/admin.svg" alt="icon" />
                                        <span>Admin User</span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <a mat-list-item [routerLink]="'/admin-user/code-master'" routerLinkActive="active"
                                    (click)="snav.close()">Code Master</a>
                                <a mat-list-item [routerLink]="'/admin-user/business-unit-master'"
                                    routerLinkActive="active" (click)="snav.close()">Business Unit Master</a>
                                <a mat-list-item [routerLink]="'/admin-user/approval-master'" routerLinkActive="active"
                                    (click)="snav.close()">Approval
                                    Master</a>
                            </mat-expansion-panel>

                            <mat-expansion-panel [expanded]="activePage==='masters'" hideToggle
                                [class.active-link]=" activePage==='masters'" (opened)="onPanelOpened('masters')"
                                class="!rounded-none !shadow-none !bg-transparent text-[16px] font-medium text-[#474747]">
                                <mat-expansion-panel-header class="!px-4">
                                    <mat-panel-title class="flex gap-4">
                                        <img title="Masters" src="/img/icon/business.svg" alt="icon" />
                                        <span>Masters</span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <a mat-list-item [routerLink]="'/masters/insurance-companies'" routerLinkActive="active"
                                    (click)="snav.close()">Insurance
                                    Companies</a>
                                <a mat-list-item [routerLink]="'/masters/asset-master'" routerLinkActive="active"
                                    (click)="snav.close()">Asset Master</a>
                            </mat-expansion-panel>

                            <mat-expansion-panel [expanded]="activePage==='policy-request'" hideToggle
                                [class.active-link]="
                    activePage==='policy-request'" (opened)="onPanelOpened('policy-request')"
                                class="!rounded-none !shadow-none !bg-transparent text-[16px] font-medium text-[#474747]">
                                <mat-expansion-panel-header class="!px-4">
                                    <mat-panel-title class="flex gap-4">
                                        <img title="Policy Requests" src="/img/icon/policy-request.svg" alt="icon" />
                                        <span>Policy Requests</span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <a mat-list-item [routerLink]="'/policy-request/create-policy-request'"
                                    routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                                    (click)="snav.close()">Create Policy Request</a>
                                <a mat-list-item [routerLink]="'/policy-request/aprrove-request'"
                                    routerLinkActive="active" (click)="snav.close()">Approve Requests</a>
                            </mat-expansion-panel>
                            <mat-expansion-panel (click)="snav.close();" hideToggle [class.active-link]="
                    activePage==='policy'" [expanded]="activePage==='policy'" (opened)="onPanelOpened('policy')"
                                class="!rounded-none !shadow-none !bg-transparent text-[16px] font-medium text-[#474747]">
                                <mat-expansion-panel-header class="!px-4">
                                    <mat-panel-title class="flex gap-4">
                                        <img title="Policy" src="/img/icon/policy.svg" alt="icon" />
                                        <span>Policy</span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <a mat-list-item [routerLink]="'/policy/manage-policy'" routerLinkActive="active"
                                    (click)="snav.close()">Manage Policy</a>
                                <a mat-list-item [routerLink]="'/policy/renew-policy'" routerLinkActive="active"
                                    (click)="snav.close()">Renew Policy</a>
                                <a mat-list-item [routerLink]="'/policy/policy-coinsured'" routerLinkActive="active"
                                    (click)="snav.close()">Policy
                                    Coinsured</a>
                                <a mat-list-item [routerLink]="'/policy/approve-policy'" routerLinkActive="active"
                                    (click)="snav.close()">Approve
                                    Policy</a>
                            </mat-expansion-panel>

                            <mat-expansion-panel hideToggle [class.active-link]="
                    activePage==='invoices'" [expanded]="activePage==='invoices'" (opened)="onPanelOpened('invoices')"
                                class="!rounded-none !shadow-none !bg-transparent text-[16px] font-medium text-[#474747]">
                                <mat-expansion-panel-header class="!px-4">
                                    <mat-panel-title class="flex gap-4">
                                        <img title="Invoices" src="/img/icon/invoices.svg" alt="icon" />
                                        <span>Invoices</span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <a mat-list-item [routerLink]="'/invoices/policy-invoices'" routerLinkActive="active"
                                    (click)="snav.close()">Policy
                                    Invoices</a>
                            </mat-expansion-panel>

                            <mat-expansion-panel hideToggle [class.active-link]="
                    activePage==='claims'" [expanded]="activePage==='claims'" (opened)="onPanelOpened('claims')"
                                class="!rounded-none !shadow-none !bg-transparent text-[16px] font-medium text-[#474747]">
                                <mat-expansion-panel-header class="!px-4">
                                    <mat-panel-title class="flex gap-4">
                                        <img title="claims" src="/img/icon/claim.svg" alt="icon" />
                                        <span>Claims</span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <a mat-list-item [routerLink]="'/claims/raise-claim'" routerLinkActive="active"
                                    (click)="snav.close()">Raise Claim</a>
                                <a mat-list-item [routerLink]="'/claims/claims-dashboard'" routerLinkActive="active"
                                    (click)="snav.close()">Claims Dashboard</a>
                                <a mat-list-item [routerLink]="'/claims/claims-approvals'" routerLinkActive="active"
                                    (click)="snav.close()">Claims Approvals</a>

                                <a mat-list-item [routerLink]="'/claims/claims-payments-clousers'"
                                    routerLinkActive="active" (click)="snav.close()">Claims Payments & Closures</a>
                            </mat-expansion-panel>


                            <mat-expansion-panel hideToggle [class.active-link]="
                    activePage==='reports-alerts'" [expanded]="activePage==='reports-alerts'"
                                (opened)="onPanelOpened('reports-alerts')"
                                class="!rounded-none !shadow-none !bg-transparent text-[16px] font-medium text-[#474747]">
                                <mat-expansion-panel-header class="!px-4">
                                    <mat-panel-title class="flex gap-4">
                                        <img title="reports-alerts" src="/img/icon/claim.svg" alt="icon" />
                                        <span>Reports & Alerts</span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <a mat-list-item [routerLink]="'/reports-alerts/reports'" routerLinkActive="active"
                                    (click)="snav.close()">Reports</a>
                                <a mat-list-item [routerLink]="'/reports-alerts/alerts'" routerLinkActive="active"
                                    (click)="snav.close()">Alerts</a>

                            </mat-expansion-panel>

                        </mat-accordion>
                    </mat-nav-list>
                </div>
                <mat-nav-list class="pt-8 border-t border-[#E9E9E9]">
                    <a (click)="Logout();" class="!font-medium !text-[#474747] text-[16px]" mat-list-item
                        [class.active-link]="" (click)="activePage='dashboard'">
                        <img title="Logout" src=" /img/icon/logout.svg" alt="icon" />
                        <span>Logout</span>
                    </a>
                </mat-nav-list>
            </aside>
        </mat-sidenav>

        <mat-sidenav-content class="content !ms-0 !px-6 lg:px-9">
            <main class="min-h-[87dvh]">
                <router-outlet></router-outlet>
            </main>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>