<header aria-label="page-header" class="page-header justify-between items-center gap-8 mb-5 hidden lg:flex">
    <ul class="mb-0 breadcrumb flex">
        <li class="breadcrumb-item">
            <!-- <a class="breadcrumb-link cursor-pointer">Insurance & Claims System</a> -->
            Insurance & Claims System
        </li>
        <li class="breadcrumb-item">
            Policy Request
        </li>
        <li class="breadcrumb-item">
            Create Policy Request
        </li>
    </ul>
    <div class="flex gap-1 lg:gap-6 custom-dropdown">
        <button class="!w-[48px] !h-[48px] !bg-white" matIconButton>
            <img class="min-w-[32px] min-h-[32px]" src="/img/icon/notification.svg" alt="">
        </button>
        <button class="!w-[48px] !h-[48px] !bg-white " matIconButton>
            <img class="min-w-[32px] min-h-[32px]" src="/img/icon/user.svg" alt="">
        </button>
    </div>
</header>
<section aria-label="Page title">
    <h1 class="text-[var(--primary)] text-[24px] font-bold">Policy Request</h1>
</section>

<section aria-label="Request Type" class="mt-8">
    <custom-card>
        <h2 class="text-[var(--body-color)] text-[16px] font-semibold mb-2">Request Type</h2>
        <p class="text-[var(--med-gray)] text-[12px] font-medium mb-6">Select Desired Request Type</p>
        <div class="tabs flex flex-col lg:flex-row gap-3 lg:gap-6">
            <button (click)="toggleTab('tab1')" [class.active]="activeTab === 'tab1'">New Request</button>
            <button (click)="toggleTab('tab2')" [class.active]="activeTab === 'tab2'">Addition to Existing
                Policy</button>
            <button (click)="toggleTab('tab3')" [class.active]="activeTab === 'tab3'">Deletion from Existing
                Policy</button>
            <button (click)="toggleTab('tab4')" [class.active]="activeTab === 'tab4'">Modification of Existing
                Policy</button>
        </div>

        <div class="mt-6" *ngIf="activeTab === 'tab2' || activeTab === 'tab3' || activeTab === 'tab4'">
            <div class="flex flex-col lg:flex-row gap-2 lg:gap-4">
                <custom-input [required]="true" label="Existing Policy Number" type="text"
                    placeholder="Enter Existing Policy Number" [control]="pincodeControl"
                    class="d-inline-flex lg:!min-w-[313px]"></custom-input>
                <custom-button *ngIf="!pincodeControl.value" class="lg:mt-[15.19px]" matButton="outlined"
                    (buttonClick)="submitPincode()" label="Check"></custom-button>
                <custom-button *ngIf="pincodeControl.value" class="lg:mt-[15.19px]" matButton="filled"
                    (buttonClick)="submitPincode()" label="Check"></custom-button>
            </div>
        </div>

    </custom-card>

    <new-request *ngIf="activeTab === 'tab1'" [pincodeControl]="pincodeControl" [roles]="roles"
        [selectedRole]="selectedRole" [selectedPolicies]="selectedPolicies" [form]="form"
        (removenew)="handleRemove($event)">
    </new-request>

    <!-- tab 2 content -->
    <custom-card class="mt-3" *ngIf="activeTab === 'tab2' && !!showResult">
        <div class="large-box">
            <p>Results for Tab 2, pincode:</p>
        </div>
    </custom-card>

    <!-- tab 3 content -->
    <custom-card class="mt-3" *ngIf="activeTab === 'tab3' && !!showResult">tab3</custom-card>
    <custom-card class="mt-3" *ngIf="activeTab === 'tab4' && !!showResult">tab4</custom-card>
</section>