<page-header [breadcrumbs]="[
        { label: 'Insurance & Claims System'},
        { label: 'Policy Request' },
        { label: 'Create Policy Request' }
    ]">
</page-header>

<section aria-label="Page title">
    <h1 class="text-[var(--primary)] text-[24px] font-bold">Policy Request</h1>
</section>

<section aria-label="Request Type" class="mt-4 lg:mt-8">
    <custom-card>
        <h2 class="text-[var(--body-color)] text-[16px] font-semibold mb-2">Request Type</h2>
        <p class="text-[var(--med-gray)] text-[12px] font-medium mb-6">Select Desired Request Type</p>
        <div class="tabs flex flex-col md:flex-row gap-3 lg:gap-6">
            <button (click)="toggleTab('newRequest')" [class.active]="activeTab === 'newRequest'">New Request</button>
            <button (click)="toggleTab('additionRequest')" [class.active]="activeTab === 'additionRequest'">Addition to
                Existing
                Policy</button>
            <button (click)="toggleTab('deletionRequest')" [class.active]="activeTab === 'deletionRequest'">Deletion
                from Existing
                Policy</button>
            <button (click)="toggleTab('modificationRequest')"
                [class.active]="activeTab === 'modificationRequest'">Modification of Existing
                Policy</button>
        </div>

        <div class="mt-6"
            *ngIf="activeTab === 'additionRequest' || activeTab === 'deletionRequest' || activeTab === 'modificationRequest'">
            <div class="flex flex-col lg:flex-row gap-2 lg:gap-4">
                <custom-input [required]="true" label="Existing Policy Number" type="text"
                    placeholder="Enter Existing Policy Number" [control]="pincodeControl"
                    class="xl:!min-w-[313px]"></custom-input>
                <custom-button *ngIf="!pincodeControl.value" class="lg:mt-[15.19px]" matButton="outlined"
                    (buttonClick)="submitPincode()" label="Check"></custom-button>
                <custom-button *ngIf="pincodeControl.value" class="lg:mt-[15.19px]" matButton="filled"
                    (buttonClick)="submitPincode()" label="Check"></custom-button>
            </div>
        </div>

    </custom-card>

    <request-type-tabs *ngIf="(
  activeTab === 'newRequest' ||
  (['additionRequest', 'deletionRequest', 'modificationRequest'].includes(activeTab) && !!showResult)
)" [activeTab]="activeTab" [pincodeControl]="pincodeControl" [showResult]="showResult">
    </request-type-tabs>

</section>