<header aria-label="page-header" class="page-header justify-between items-center gap-8 mb-5 hidden lg:flex">

    <!-- Breadcrumb -->
    <ul class="mb-0 breadcrumb flex">
        @for (crumb of breadcrumbs; track crumb) {
        <li class="breadcrumb-item">
            @if(crumb.route){
            <a class="breadcrumb-link cursor-pointer" (click)="goTo(crumb.route)">
                {{ crumb.label }}
            </a>
            } @else {
            {{ crumb.label }}
            }
        </li>
        }
    </ul>

    <!-- Header actions -->
    <div class="flex gap-1 lg:gap-6 custom-dropdown">
        @for (action of headerActions; track action.key) {
        <button (click)="goTo(action.route)" class="!w-[48px] !h-[48px] !bg-white" matIconButton
            [class.active-link]="activePage === action.key">
            <img class="min-w-[32px] min-h-[32px]" [src]="action.icon" [alt]="action.key" />
        </button>
        }
    </div>
</header>