<div class="upload-box border border-[#474747] border-dashed rounded-[30px] p-6 mt-9 mb-2"
    [class.drag-over]="isDragOver" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)"
    (drop)="onDrop($event)">

    <h5 class="block font-semibold text-[#474747] mb-6">{{ label }}</h5>

    <!-- EMPTY STATE -->
    @if (files.length === 0) {
    <div class="flex items-center justify-center flex-col gap-6 p-6 cursor-pointer relative">
        <img src="/img/icon/upload-icon.svg" alt="">
        <p class="block font-medium text-center text-[16px] text-[#888888] mb-0">
            Select / Drag and drop the documents
        </p>
        <input type="file" [attr.accept]="accept" [attr.multiple]="multiple ? true : null"
            class="absolute w-full h-full opacity-0 cursor-pointer" (change)="onFileSelected($event)">
    </div>
    }

    <!-- FILLED STATE -->
    @if (files.length > 0) {
    <div class="flex flex-wrap justify-center lg:justify-start gap-6">
        <!-- Uploaded files -->
        @for (f of files; track $index) {
        <div class="item flex flex-col gap-4 justify-center items-center">
            <div class="relative w-[88px] h-[117px] border border-[#888888] rounded-[5px] overflow-hidden">
                @if (f.url) {
                <img [src]="f.url" class="w-full h-full object-cover" />
                } @else {
                <div class="w-full h-full flex items-center justify-center bg-[#f5f5f5]">
                    <img src="/img/icon/pdf.svg" />
                </div>
                }

                <span
                    class="img-type absolute left-0 top-0 block font-semibold bg-[#474747] text-white text-[10px] rounded-[6px] rounded-t-none rounded-l-none px-[8px] py-[3px]">
                    {{ f.typeLabel }}
                </span>
            </div>

            <!-- Delete button -->
            <div class="dismiss-icon w-auto inline-flex border border-[var(--primary)] rounded-full p-2 hover:bg-slate-50 cursor-pointer"
                (click)="removeFile($index)">
                <img class="icon" src="/img/icon/trash.svg" alt="remove">
            </div>
        </div>
        }

        <!-- Add More Button -->
        @if (canShowUploadTile()) {
        <div
            class="add-more flex items-center justify-center flex-col gap-3 cursor-pointer relative w-[88px] h-[117px] border border-dashed border-[#888888] rounded-[5px] overflow-hidden">
            <img src="/img/icon/doc.svg" alt="">
            <p class="block font-normal text-center text-[12px] text-[#474747] mb-0">Upload Documents</p>
            <input type="file" [attr.accept]="accept" [attr.multiple]="multiple ? true : null"
                class="absolute w-full h-full opacity-0 cursor-pointer" (change)="onFileSelected($event)">
        </div>
        }
    </div>
    }
</div>