
@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary:#003366;
  --card-border: #E9E9E9;
  --dark-gray:#474747;
  --color-white:#ffffff;
  --input-border:#B8B8B8;
  --body-color:#474747;
}





html {
  @include mat.theme((
     color: (
      // primary: $my-primary-palette,
      // secondary: $my-secondary-palette,
    ),
    typography: Inter,
    density: 0,
  ));
}

body {
  margin: 0;
  line-height: 1.2;
  color: var(--body-color);
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Inter, "Helvetica Neue", sans-serif; }

.mat-drawer-inner-container{
   @media(min-width:1024px){
     display: block !important;
   }
}

mat-form-field{
  width: 100%;
  

  .mat-mdc-form-field-infix{
    min-height: 46px;
    padding-top: 11px !important;
    padding-bottom: 11px !important;
  }
  .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mat-mdc-notch-piece{
    border-color: var(--input-border);
    border-width: 1px;
    border-left: 1px solid var(--input-border);
    border-radius: 10px;
   
  }

}
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mat-mdc-notch-piece, .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mat-mdc-notch-piece{
  border-color: var(--input-border) !important;
}
  .mat-mdc-form-field .mdc-notched-outline__notch{
    margin-left: 0 !important;
  }
  .mat-mdc-notch-piece.mdc-notched-outline__leading{
display: none;
  }

  .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-text-field__input{
    color: var(--body-color) !important;
  }

  .mat-mdc-button:hover>.mat-mdc-button-persistent-ripple::before{
    opacity: 0 !important;
  }

  .mat-mdc-unelevated-button:not(:disabled){
    background-color: var(--primary) !important;
    border-radius: 10px !important;
  }

  .mat-mdc-outlined-button:not(:disabled){
    border-radius: 10px !important;
    border-color: var(--primary) !important;
    color: var(--primary) !important;
  }


  ::-webkit-input-placeholder { 
  color: rgb(71 71 71 / 50%) !important;
}
::-moz-placeholder { 
  color: rgb(71 71 71 / 50%) !important;
}
:-ms-input-placeholder { 
 color: rgb(71 71 71 / 50%) !important;
}
:-moz-placeholder {
color: rgb(71 71 71 / 50%) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

 .mat-mdc-select-arrow{
  background-image: url('/img/select-arrow.svg');
  background-repeat: no-repeat;
    height: 7px !important;
    width: 12px !important;
  svg{
    display: none !important; 
  }
  
}

div.mat-mdc-select-panel{
  background-color: var(--color-white) !important;
  box-shadow: none !important;
  border: 1px solid var(--input-border) !important;
  border-radius: 10px !important;
}
.mat-mdc-select{
  color: var(--body-color) !important;
}

.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple){
  background-color: #F6F6F6 !important;
  border-top: 1px solid var(--input-border);
   border-bottom: 1px solid var(--input-border);
}
.mat-mdc-option{
min-height: 43px !important;
color: var(--body-color) !important;
}

.mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after{
  width: 10px !important;
    height: 5px !important;
    top: -2px !important;
    color: var(--body-color) !important;
}

.mat-mdc-list-item {
  border-radius: 0 !important;
  
  .mdc-list-item__primary-text {
     display: flex;
     gap:16px;
    }
  &.active-link {
    background-color: var(--primary);

    .mdc-list-item__primary-text {
      color: var(--color-white) !important;
      img{
        filter: brightness(0) invert(1);
      }
    }
  }
}