@if (shouldRun === false) {
<div class="example-container" [class.example-is-mobile]="isMobile()">


  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="isMobile() ? 56 : 0">
    <mat-sidenav #snav [mode]="isMobile() ? 'over' : 'side'" [fixedInViewport]="isMobile()" fixedTopGap="56">
      <button matIconButton (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <mat-nav-list>
        <!-- @for (nav of fillerNav; track nav) {
            <a mat-list-item >{{nav}}</a>
          } -->
        <a mat-list-item disableRipple [class.active-link]="activePage === 'dashboard'"
          (click)="activePage = 'dashboard'"><img src="/img/icon/db-icon.svg" alt="icon" /> Dashboard</a>


        <mat-accordion MatAccordionDisplayMode='flat'>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>Claims</mat-panel-title>

            </mat-expansion-panel-header>
            <a mat-list-item>Raise Claim</a>
            <a mat-list-item>Claims Dashboard</a>
            <a mat-list-item>Raise Claim</a>

            <a mat-list-item>Claims Approvals</a>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
            <mat-expansion-panel-header>
              <mat-panel-title> Business User </mat-panel-title>
              <!-- <mat-panel-description>
        Currently I am {{panelOpenState() ? 'open' : 'closed'}}
      </mat-panel-description> -->
            </mat-expansion-panel-header>
            <a mat-list-item>Insurance Company Master</a>

          </mat-expansion-panel>
        </mat-accordion>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>


      @for (content of fillerContent; track content) {
      <p>{{content}}</p>
      }
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
} @else {
<div>Please open on Stackblitz to see result</div>
}