<div class="relative" [ngClass]="{ 'has-value': hasValue }">
    <!-- Dynamic Label -->
    @if (label) {
    <mat-label class="block font-semibold text-[#474747] mb-3">
        {{ label }}
        @if (required) {
        <span class="text-[#DC4545]">*</span>
        }
    </mat-label>
    }

    <mat-form-field appearance="outline" class="w-full" [ngClass]="{ 'has-value': hasValue }">
        <mat-select [value]="value" (selectionChange)="onSelectionChange($event)" [required]="required"
            [placeholder]="placeholder">
            @for (opt of options; track opt) {
            <mat-option [value]="opt.value">{{ opt.viewValue }}</mat-option>
            }
        </mat-select>
        <mat-error>
            @if(control.invalid && (control.dirty || control.touched)){
            @if (control.errors?.['required']){
            <ng-container>
                {{ label || 'This field' }} is required.
            </ng-container>
            }
            }
        </mat-error>
    </mat-form-field>
</div>